= link_to t('laa_reference.unlink.label'), remove_link_defendant_path(@defendant.arrest_summons_number), method: :delete, class: 'govuk-link'
%br
%br
.govuk-warning-text
  %span.govuk-warning-text__icon{"aria-hidden" => "true"} !
  %strong.govuk-warning-text__text
    %span.govuk-warning-text__assistive
      = t('generic.warning')
    = t('laa_reference.unlink.warning')
