= govuk_page_heading(@defendant.name, caption_text: t('generic.defendant'), title: t('defendants.title'))

= render partial: 'form', locals: { link_attempt: @link_attempt,
                                    defendant: @defendant,
                                    defendant_uuid: @defendant_uuid,
                                    prosecution_case_reference: @prosecution_case_reference,
                                    offence_history_collection: @offence_history_collection }
