= govuk_page_title(@defendant.name, t('generic.defendant'))

= render partial: 'form', locals: { link_attempt: @link_attempt,
                                    defendant: @defendant,
                                    defendant_uuid: @defendant_uuid,
                                    prosecution_case_reference: @prosecution_case_reference }
