- if FeatureFlag.enabled?(:appeals_v2)
  = govuk_page_heading(@defendant.name,
                       caption_text: t('generic.defendant'),
                       title: t('defendants.title'),
                       tag_options: { class: "govuk-!-margin-bottom-5" })
  %strong.govuk-tag{ class: "govuk-!-margin-bottom-5" }
    = t("generic.case")
- else
  = govuk_page_heading(@defendant.name, caption_text: t('generic.defendant'), title: t('defendants.title'))

= render partial: 'form', locals: { link_attempt: @link_attempt,
                                    defendant: @defendant,
                                    defendant_uuid: @defendant_uuid,
                                    prosecution_case_reference: @prosecution_case_reference,
                                    offence_history_collection: @offence_history_collection }
