%h2{ class: 'govuk-heading-l govuk-!-margin-bottom-4' } Offences

%table{ class: 'govuk-table govuk-!-margin-bottom-9' }
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' } Count
      %th.govuk-table__header{ scope: 'col' } Class
      %th.govuk-table__header{ scope: 'col' } Offence

  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell 1/1
      %td.govuk-table__cell J
      %td.govuk-table__cell
        PK78001:
        %br
        Take an indecent photograph / pseudo-photograph of a child
    %tr.govuk-table__row
      %td.govuk-table__cell 1/2
      %td.govuk-table__cell J
      %td.govuk-table__cell
        PK78001:
        %br
        Take an indecent photograph / pseudo-photograph of a child
    %tr.govuk-table__row
      %td.govuk-table__cell 1/3
      %td.govuk-table__cell J
      %td.govuk-table__cell
        PK78003:
        %br
        Distribute an indecent photograph / pseudo-photograph of a child
    %tr.govuk-table__row
      %td.govuk-table__cell 1/4
      %td.govuk-table__cell J
      %td.govuk-table__cell
        PK78003:
        %br
        Distribute an indecent photograph / pseudo-photograph of a child
    %tr.govuk-table__row
      %td.govuk-table__cell 2/1
      %td.govuk-table__cell J
      %td.govuk-table__cell
        SX56026:
        %br
        Indecent assault on girl under 16
    %tr.govuk-table__row
      %td.govuk-table__cell 2/2
      %td.govuk-table__cell J
      %td.govuk-table__cell
        SX56026:
        %br
        Indecent assault on girl under 16
    %tr.govuk-table__row
      %td.govuk-table__cell 2/3
      %td.govuk-table__cell J
      %td.govuk-table__cell
        SX56005:
        %br
        Sexual intercourse with girl under 13
    %tr.govuk-table__row
      %td.govuk-table__cell 2/4
      %td.govuk-table__cell J
      %td.govuk-table__cell
        SX56005:
        %br
        Sexual intercourse with girl under 13
    %tr.govuk-table__row
      %td.govuk-table__cell 2/5
      %td.govuk-table__cell J
      %td.govuk-table__cell
        SX03025:
        %br
        Penetrative sexual activity with a girl under 16 - offender 18 or over
    %tr.govuk-table__row
      %td.govuk-table__cell 2/6
      %td.govuk-table__cell J
      %td.govuk-table__cell
        SX03025:
        %br
        Penetrative sexual activity with a girl under 16 - offender 18 or over
