%dl{ class: 'govuk-summary-list govuk-!-margin-bottom-9' }
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Date of birth
    %dd.govuk-summary-list__value
      09/07/1962
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Gender
    %dd.govuk-summary-list__value
      Male
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Address
    %dd.govuk-summary-list__value
      102 Petty France
      %br
      London
      %br
      SW1H 9AJ
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      NI number
    %dd.govuk-summary-list__value
      AA987654Z
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      ASN number
    %dd.govuk-summary-list__value
      MG25A12456
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      MAAT number
    %dd.govuk-summary-list__value
      Not linked
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Representation order
    %dd.govuk-summary-list__value
      Not granted
