= f.govuk_collection_select :reason_code,
                            UnlinkReason.all,
                            :code,
                            :description,
                            options: { include_blank: t('generic.form.select.blank_option') },
                            label: { text: t('defendants.form.reason_code.label') }

= f.govuk_text_area :other_reason_text,
                    label: { text: t('defendants.form.other_reason_text.label') },
                    hint: { text: t('defendants.form.other_reason_text.hint') },
                    rows: 5,
                    max_chars: 500

= f.govuk_submit(t('defendants.form.submit'), data: { disable_with: t('defendants.form.unlinking') })
