= govuk_page_title(@defendant.name, t('generic.defendant'))

- content_for :custom_packs do
  = javascript_pack_tag 'unlink', defer: true

- if @defendant.linked?
  = render('defendants/unlink_form', locals: @defendant)
- else
  = render('defendants/link_form', locals: @defendant)
