---
http_interactions:
- request:
    method: get
    uri: https://laa-court-data-api-dev.apps.live.cloud-platform.service.justice.gov.uk/v2/case_summaries/TEST12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <Basic>
      Content-Type:
      - application/json
      Laa-Transaction-Id:
      - ac60e10b-1a7a-4d2f-b9ce-18adb8641193
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Laa-Transaction-Id:
      - ac60e10b-1a7a-4d2f-b9ce-18adb8641193
    body:
      encoding: UTF-8
      string: '{"prosecution_case_reference":"TEST12345","hearing_summaries":[{"id":"ffebc761-1b61-4ba5-b197-c7326d002d92","hearing_type":"Trial
        (TRL)","estimated_duration":null,"defendants":[],"jurisdiction_type":"MAGISTRATES","court_centre":{"id":"6131bd34-33d9-3d1e-8152-8b5a2084f1bd","name":"Derby
        Crown Court","welsh_name":"Llys Y Goron Derby","room_id":null,"room_name":null,"welsh_room_name":null,"welsh_court_name":null,"short_oucode":"C30DE","oucode_l2_code":"30","code":"C30DE00","address":{"address_1":"Derby
        Combined Court Centre","address_2":"Morledge","address_3":"Derby","address_4":"","address_5":"","postcode":"DE1
        2XE"}},"hearing_days":[{"sitting_day":"2019-10-23T08:30:00+00:00","listing_sequence":1,"listed_duration_minutes":1,"has_shared_results":null},{"sitting_day":"2019-10-24T08:45:00+00:00","listing_sequence":1,"listed_duration_minutes":1,"has_shared_results":null},{"sitting_day":"2019-10-25T09:00:00+00:00","listing_sequence":1,"listed_duration_minutes":1,"has_shared_results":null}],"defence_counsels":[]},{"id":"c2002ca4-fa81-4639-9b7c-58940bfbe6f5","hearing_type":"Mention
        - Defendant to Attend (MDA)","estimated_duration":null,"defendants":[],"jurisdiction_type":"CROWN","court_centre":{"id":"6131bd34-33d9-3d1e-8152-8b5a2084f1bd","name":"Derby
        Crown Court","welsh_name":"Llys Y Goron Derby","room_id":null,"room_name":null,"welsh_room_name":null,"welsh_court_name":null,"short_oucode":"C30DE","oucode_l2_code":"30","code":"C30DE00","address":{"address_1":"Derby
        Combined Cou[...]
[...]
