version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/London
  groups:
    rubocop:
      patterns:
        - "rubocop*"
  open-pull-requests-limit: 15
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "03:00"
    timezone: Europe/London
  groups:
    babel:
      patterns:
        - "*babel*"
  open-pull-requests-limit: 15
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: tuesday
    time: "03:00"
    timezone: Europe/London
  open-pull-requests-limit: 15
