.cache
.codeclimate.yml
.dependabot
.dockerignore
.DS_Store
.env*
.git
.github
.gitignore
.hound.yml
.idea/**/
.rspec
.rubocop*
.ruby*
.travis.yml
.eslintrc
.bundle
.circleci
.codeclimate.yml
coverage/*
coverage
docker-compose.*
Dockerfile
docker/Dockerfile
log/*
node_modules/*
public/assets/*
storage/*
public/packs/*
public/packs-test/*
tmp/*

Brewfile*
Guardfile
Makefile

LICENSE*
README*
