/ NOT USED: users should not be able to sign up themselves.
/ Default devise view can be regenerated if needed using
/ `rails generate devise:views -v registrations`
/ but if you do so ensure the users/registrations_controller.rb
/ prevents sign up by individuals.
/
