---
http_interactions:
- request:
    method: get
    uri: https://laa-court-data-adaptor-dev.apps.live-1.cloud-platform.service.justice.gov.uk/api/internal/v2/defendants/8b7a9989-84ba-493d-8780-a97465872c53?include=offences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Laa-Transaction-Id:
      - c236027ba520827f0f2bdef503625145
      Etag:
      - W/"81bebd2e07e5f2996b6bf7b6594e7045"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8b7a9989-84ba-493d-8780-a97465872c53","type":"defendants","attributes":{"name":"Jammy
        Dodger","date_of_birth":"1987-05-21","national_insurance_number":"JC123456A","arrest_summons_number":"1PBAP0Q18V3F","maat_reference":null,"representation_order_date":null,"prosecution_case_id":"1897a40c-78a1-4acd-a4aa-27202876856f","post_hearing_custody_statuses":["A"]},"relationships":{"offences":{"data":[{"id":"177f2564-6e9d-4a9f-9ed6-9e5d7cb2eb6b","type":"offences"}]},"defence_organisation":{"data":null},"prosecution_case":{"data":{"id":"1897a40c-78a1-4acd-a4aa-27202876856f","type":"prosecution_case"}}}},"included":[{"id":"177f2564-6e9d-4a9f-9ed6-9e5d7cb2eb6b","type":"offences","attributes":{"code":"PT00011","order_index":1,"title":"Racially-aggravated
        criminal damage","legislation":"Sexual Offences Act 1956 s.19","mode_of_trial":"Summary
        offence","mode_of_trial_reasons":[],"pleas":[]}}]}'
  recorded_at: Tue, 06 Jul 2021 08:52:47 GMT
recorded_with: VCR 6.0.0
