version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.0.0
  browser-tools: circleci/browser-tools@1.4.3
  slack: circleci/slack@3.4.2
  snyk: snyk/snyk@1.7.0

references:
  _restore-bundle: &restore-bundle
    restore_cache:
      keys:
        - v1-bundle-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
        # fallback to using the latest cache if no exact match is found
        - v1-bundle-

  _install-bundle: &install-bundle
    run:
      name: Install gems
      command: |
        bundler_version=$(cat Gemfile.lock | tail -1 | tr -d " ")
        gem install bundler -v $bundler_version
        bundle config set path '~/vendor/bundle'
        bundle check || bundle install --jobs=4 --retry=3
        bundle clean --force

  _save-bundle: &save-bundle
    save_cache:
      key: v1-bundle-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      paths:
        - ~/.bundle
        - ~/vendor/bundle

  _restore-assets: &restore-assets
    restore_cache:
      keys:
        - v4-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
        # fallback to using the latest asset cache if no exact match is found
        - v4-yarn-

  _install-assets: &install-assets
    run:
      name: Install and compile assets
      command: |
        RUBYOPT=-W:no-deprecated \
        yarn install && yarn build --progress --color

  _save-assets: &save-assets
    save_cache:
      key: v4-yarn-{{ .Branch }}-{{ checksum "yarn.lock" }}
      paths:
        - node_modules
        - app/assets/builds

  _attach-tmp-workspace: &attach-tmp-workspace
    attach_workspace:
      at: ~/repo/tmp

  _script-build-app-container: &script-build-app-container
    run:
      name: Build and push docker image
      command: |
        .circleci/build.sh

  _main-only: &main-only
    filters:
      branches:
        only: main
# ------------------
# EXECUTORS
# ------------------
executors:
  test-executor:
    working_directory: ~/repo
    docker:
      - image: cimg/ruby:3.1.2-browsers
        environment:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:circleci@127.0.0.1:5432/laa_court_data_ui_test
          TZ: Europe/London
      - image: cimg/postgres:11.13
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "circleci"
          POSTGRES_DB: laa_court_data_ui_test

  cloud-platform-executor:
    resource_class: small
    docker:
      - image: ministryofjustice/cloud-platform-tools
        environment:
          GITHUB_TEAM_NAME_SLUG: laa-assess-a-claim
          REPO_NAME: laa-court-data-ui

# ------------------
# COMMANDS
# ------------------
commands:
  install-gems:
    steps:
      - *restore-bundle
      - *install-bundle
      - *save-bundle

  install-compile-assets:
    steps:
      - *restore-assets
      - *install-assets
      - *save-assets

  restore-dependencies:
    steps:
      - *restore-bundle
      - *restore-assets

  build-base:
    steps:
      - install-gems
      - install-compile-assets
      - install-codeclimate-tt

  aws-cli-setup:
    steps:
     - aws-cli/setup:
        role_arn: $ECR_ROLE_TO_ASSUME
        region: $ECR_REGION

  db-setup:
    steps:
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Database setup
          command: |
            RUBYOPT=-W:no-deprecated \
            bundle exec rails db:schema:load --trace

  rubocop:
    steps:
      - run:
          name: Run rubocop
          command: bundle exec rubocop

  linter:
    steps:
      - run:
          name: Run JS-lint
          command: yarn run validate:js
      - run:
          name: Run Stylelint
          command: yarn run validate:scss
      - run:
          name: Run Haml-Lint
          command: bundle exec haml-lint

  brakeman:
    steps:
      - run:
          name: Run brakeman
          command: bundle exec brakeman

  build-temp-image:
    steps:
      - run:
          name: Compile Docker Image
          command: |
            docker build \
              --build-arg BUILD_DATE=$(date +%Y-%m-%dT%H:%M:%S%z) \
              --build-arg COMMIT_ID=${CIRCLE_SHA1} \
              --build-arg BUILD_TAG="app-${CIRCLE_SHA1}" \
              --build-arg APP_BRANCH=${CIRCLE_BRANCH} \
              --pull \
              --tag vcd:scan \
              --file docker/Dockerfile .

  rspec:
    steps:
      - db-setup
      - run:
          name: Run rspec tests
          command: |
            mkdir /tmp/test-results
            mkdir tmp/screenshots
            tmp/cc-test-reporter before-build
            TESTFILES=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
            RUBYOPT=-W:no-deprecated \
            bundle exec rspec \
              --format progress \
              --format RspecJunitFormatter \
              --out /tmp/test-results/rspec.xml \
              $TESTFILES
            tmp/cc-test-reporter format-coverage -t simplecov -o "tmp/coverage/codeclimate.$CIRCLE_NODE_INDEX.json"
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: tmp/screenshots
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

  upload-coverage:
    steps:
      - run:
          name: Upload coverage results to Code Climate
          command: |
            tmp/cc-test-reporter sum-coverage --output - tmp/coverage/codeclimate.*.json | tmp/cc-test-reporter upload-coverage --input -

  install-codeclimate-tt:
    steps:
      - run:
          name: Install codeclimate test reporter
          command: |
            mkdir -p tmp/
            mkdir -p tmp/coverage/
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > tmp/cc-test-reporter
            chmod +x tmp/cc-test-reporter
      - persist_to_workspace:
          root: tmp
          paths:
            - cc-test-reporter

  deploy-to:
    description: >
      Deploy image to the specified environment
    parameters:
      environment:
        description: destination environment
        type: string
      cluster:
        description: destination cluster
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - aws-cli-setup
      - run:
          name: deploying to << parameters.environment >>
          command: |
            .circleci/deploy.sh << parameters.environment >> << parameters.cluster >>
      - slack/status:
          success_message: ":tada: deploy of <$CIRCLE_BUILD_URL|$CIRCLE_BRANCH> to << parameters.environment >> successful!"
          failure_message: ":red_circle: deploy of <$CIRCLE_BUILD_URL|$CIRCLE_BRANCH> to << parameters.environment >> failed!"

# ------------------
# JOBS
# ------------------
jobs:
  build-test-container:
    executor: test-executor
    steps:
      - checkout
      - build-base

  linter-tests:
    executor: test-executor
    parallelism: 1
    steps:
      - checkout
      - restore-dependencies
      - linter
      - rubocop
      - brakeman

  rspec-tests:
    executor: test-executor
    parallelism: 4
    steps:
      - checkout
      - restore-dependencies
      - *attach-tmp-workspace
      - run: sudo apt-get update
      - browser-tools/install-chrome
      - run: sudo apt autoremove
      - rspec
      - persist_to_workspace:
          root: tmp
          paths:
            - coverage/codeclimate.*.json
      - store_artifacts:
          path: tmp/coverage

  upload-test-coverage:
    executor: test-executor
    steps:
      - *attach-tmp-workspace
      - upload-coverage

  scan-docker-image:
    executor: test-executor
    parallelism: 1
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - build-temp-image
      - snyk/scan:
          token-variable: SNYK_TOKEN
          docker-image-name: vcd:scan
          target-file: ./docker/Dockerfile
          organization: "legal-aid-agency"
          severity-threshold: "critical"
          fail-on-issues: true

  build-app-container:
    executor: cloud-platform-executor
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - aws-cli-setup
      - *script-build-app-container

  deploy-dev:
    executor: cloud-platform-executor
    steps:
      - deploy-to:
          environment: dev
          cluster: live

  deploy-staging:
    executor: cloud-platform-executor
    steps:
      - deploy-to:
          environment: staging
          cluster: live

  deploy-uat:
    executor: cloud-platform-executor
    steps:
      - deploy-to:
          environment: uat
          cluster: live

  deploy-production:
    executor: cloud-platform-executor
    steps:
      - deploy-to:
          environment: production
          cluster: live

# ------------------
# WORKFLOWS
# ------------------
workflows:
  version: 2
  build-deploy-main:
    jobs:
      - build-app-container:
          <<: *main-only
      - deploy-dev:
          context: laa-court-data-ui-live-dev
          requires:
            - build-app-container
      - hold-staging:
          type: approval
          requires:
            - build-app-container
      - deploy-staging:
          context: laa-court-data-ui-live-staging
          requires:
            - hold-staging
      - hold-uat:
          type: approval
          requires:
            - build-app-container
      - deploy-uat:
          context: laa-court-data-ui-live-uat
          requires:
            - hold-uat
      - hold-production:
          type: approval
          requires:
            - build-app-container
      - deploy-production:
          context: laa-court-data-ui-live-production
          requires:
            - hold-production

  test-branch:
    jobs:
      - build-test-container:
          filters:
            branches:
              ignore:
                - main
      - linter-tests:
          requires:
            - build-test-container
      - rspec-tests:
          requires:
            - build-test-container
      - upload-test-coverage:
          requires:
            - rspec-tests
      - scan-docker-image:
          requires:
            - build-test-container

  build-deploy-branch:
    jobs:
      - branch-build-approval:
          type: approval
          filters:
            branches:
              ignore:
                - main
      - build-app-container:
          requires:
            - branch-build-approval
      - hold-dev:
          type: approval
          requires:
            - build-app-container
      - deploy-dev:
          context: laa-court-data-ui-live-dev
          requires:
            - hold-dev
      - hold-staging:
          type: approval
          requires:
            - build-app-container
      - deploy-staging:
          context: laa-court-data-ui-live-staging
          requires:
            - hold-staging
      - hold-uat:
          type: approval
          requires:
            - build-app-container
      - deploy-uat:
          context: laa-court-data-ui-live-uat
          requires:
            - hold-uat
