version: 2.1

orbs:
  slack: circleci/slack@3.4.2

references:
  _restore-bundle: &restore-bundle
    restore_cache:
      keys:
        - v3-bundle-{{ checksum "Gemfile.lock" }}
        # fallback to using the latest cache if no exact match is found
        - v3-bundle-

  _install-bundle: &install-bundle
    run:
      name: Install gems
      command: |
        bundler_version=$(cat Gemfile.lock | tail -1 | tr -d " ")
        gem install bundler -v $bundler_version
        bundle config set path '~/vendor/bundle'
        bundle check || bundle install --jobs=4 --retry=3

  _save-bundle: &save-bundle
    save_cache:
      key: v3-bundle-{{ checksum "Gemfile.lock" }}
      paths:
        - ~/vendor/bundle

  _restore-assets: &restore-assets
    restore_cache:
      keys:
        - v1-yarn-{{ checksum "yarn.lock" }}
        # fallback to using the latest asset cache if no exact match is found
        - v1-yarn-

  _install-assets: &install-assets
    run:
      name: Install and compile assets
      command: |
        RUBYOPT=-W:no-deprecated \
        bundle exec rails assets:precompile

  _save-assets: &save-assets
    save_cache:
      key: v2-yarn-{{ checksum "yarn.lock" }}
      paths:
        - node_modules
        - public/packs-test

  _script-build-app-container: &script-build-app-container
    run:
        name: Build and push docker image
        command: |
          .circleci/build.sh

# ------------------
# EXECUTORS
# ------------------
executors:
  test-executor:
    working_directory: ~/repo
    docker:
      - image: circleci/ruby:2.7.0-node-browsers
        environment:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:circleci@127.0.0.1:5432/laa_court_data_ui_test
          TZ: Europe/London
      - image: circleci/postgres:11.6-alpine-ram
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: "circleci"
          POSTGRES_DB: laa_court_data_ui_test

  cloud-platform-executor:
    docker:
    - image: ${ECR_ENDPOINT}/cloud-platform/tools:circleci
      environment:
        GITHUB_TEAM_NAME_SLUG: laa-get-paid
        REPO_NAME: laa-court-data-ui

# ------------------
# COMMANDS
# ------------------
commands:
  install-gems:
    steps:
      - *restore-bundle
      - *install-bundle
      - *save-bundle

  install-compile-assets:
    steps:
      - *restore-assets
      - *install-assets
      - *save-assets

  build-base:
    steps:
      - install-gems
      - install-compile-assets

  db-setup:
    steps:
      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Database setup
          command: |
            RUBYOPT=-W:no-deprecated \
            bundle exec rails db:schema:load --trace

  rubocop:
    steps:
      - run:
          name: Run rubocop
          command: bundle exec rubocop

  linter:
    steps:
      - run:
          name: Run JS-lint
          command: yarn run lint-js
      - run:
          name: Run Sass-lint
          command: yarn run lint-sass

  brakeman:
    steps:
      - run:
          name: Run brakeman
          command: bundle exec brakeman --quiet --exit-on-warn

  rspec:
    steps:
      - db-setup
      - run:
          name: Run rspec tests
          command: |
                mkdir /tmp/test-results
                TESTS=$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split)

                RUBYOPT=-W:no-deprecated \
                bundle exec rspec \
                  --format progress \
                  --format RspecJunitFormatter \
                  --out /tmp/test-results/rspec.xml \
                  $TEST_FILES
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

  deploy-to:
    description: >
      Deploy image to the specified environment
    parameters:
      environment:
        description: destination environment
        type: string
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: deploying to << parameters.environment >>
          command: |
            .circleci/deploy.sh << parameters.environment >>
      - slack/status:
          success_message: ":tada: deploy of <$CIRCLE_BUILD_URL|$CIRCLE_BRANCH> to << parameters.environment >> successful!"
          failure_message: ":red_circle: deploy of <$CIRCLE_BUILD_URL|$CIRCLE_BRANCH> to << parameters.environment >> failed!"

# ------------------
# JOBS
# ------------------
jobs:
  build-test-container:
    executor: test-executor
    steps:
      - checkout
      - build-base

  linter-tests:
    executor: test-executor
    parallelism: 1
    steps:
      - checkout
      - build-base
      - linter
      - rubocop
      - brakeman

  rspec-tests:
    executor: test-executor
    parallelism: 1
    steps:
      - checkout
      - build-base
      - rspec

  build-app-container:
    executor: cloud-platform-executor
    steps:
      - checkout
      - setup_remote_docker
      - *script-build-app-container

  deploy-dev:
    executor: cloud-platform-executor
    steps:
      - deploy-to:
          environment: dev

# ------------------
# WORKFLOWS
# ------------------
workflows:
  version: 2
  test-build-master:
    jobs:
      - build-test-container:
          filters:
            branches:
              only:
                - master
      - linter-tests:
          requires:
            - build-test-container
      - rspec-tests:
          requires:
            - build-test-container
      - build-app-container:
          requires:
            - linter-tests
            - rspec-tests
      - deploy-dev:
          requires:
            - build-app-container

  test-build-branch:
    jobs:
      - build-test-container:
          filters:
            branches:
              ignore:
                - master
      - linter-tests:
          requires:
            - build-test-container
      - rspec-tests:
          requires:
            - build-test-container
      - branch-build-approval:
          type: approval
          requires:
            - linter-tests
            - rspec-tests
          filters:
            branches:
              ignore:
                - master
      - build-app-container:
          requires:
            - branch-build-approval
      - deploy-dev:
          requires:
            - build-app-container
