%dl{ class: 'govuk-summary-list govuk-!-margin-bottom-9' }
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      URN number
    %dd.govuk-summary-list__value
      01AB1234567
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Case type
    %dd.govuk-summary-list__value
      Trial
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Case concluded
    %dd.govuk-summary-list__value
      Yes
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Duration
    %dd.govuk-summary-list__value
      16 days
