= form_with model: @search_filter, local: true do |f|
  = f.govuk_error_summary

  = f.govuk_collection_radio_buttons :id,
    Search.filters,
    :id,
    :name,
    :description,
    legend: { text: t('search_filter.legend_text'), size: 'xl' },
    hint_text: t('search_filter.label_hint')

  = f.govuk_submit( t('generic.continue') )
