= form_with model: search_filter do |f|
  = f.govuk_error_summary

  = f.govuk_collection_radio_buttons :id,
                                     Search.filters,
                                     :id,
                                     :name,
                                     legend: { text: t('search_filter.legend_text'), size: 'xl' }

  = f.govuk_submit(t('generic.continue'))
