%svg.down{
  role: "img",
  focusable: "false",
  xmlns: "http://www.w3.org/2000/svg",
  viewBox: "0 -5 22 22",
  height: "22",
  width: "22"
}
%path{
  d: "M15.4375 7L11 15.8687L6.5625 7L15.4375 7Z",
  fill: "currentColor"
}
