%svg.up{
  role: "img",
  focusable: "false",
  xmlns: "http://www.w3.org/2000/svg",
  viewBox: "0 -3 22 22",
  height: "22",
  width: "22"
}
  %path{
    d: "M6.5625 15.5L11 6.63125L15.4375 15.5H6.5625Z",
    fill: "currentColor"
  }
