%svg.updown{
  role: "img",
  aria-label: "Sort",
  focusable: "false",
  xmlns: "http://www.w3.org/2000/svg",
  viewBox: "0 -5 22 22",
  height: "22",
  width: "22"
}
  %path{
    d: "M8.1875 9.5L10.9609 3.95703L13.7344 9.5H8.1875Z",
    fill: "currentColor"
  }
  %path{
    d: "M13.7344 12.0781L10.9609 17.6211L8.1875 12.0781H13.7344Z",
    fill: "currentColor"
  }
