= govuk_page_title(t('pages.contact_us.page_title'))

%p.govuk-body
  =t('pages.contact_us.paragraph')

%dl.govuk-summary-list
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      = t('pages.contact_us.contact_details_email')
    %dd.govuk-summary-list__value
      = mail_to Rails.configuration.x.support_email_address, Rails.configuration.x.support_email_address, class: 'govuk-link'
