%nav.moj-pagination#pagination-label{ class: 'govuk-!-margin-bottom-8' }
  %p.govuk-visually-hidden{ "aria-labelledby": 'pagination-label' }
    Pagination navigation
  %ul.moj-pagination__list
    - unless paginator.first_page?
      %li.moj-pagination__item.moj-pagination__item--prev
        = paginator.previous_page_link
    - unless paginator.last_page?
      %li.moj-pagination__item.moj-pagination__item--next
        = paginator.next_page_link
