%div{ class: 'govuk-!-padding-bottom-4' }
= govuk_detail(t('generic.view_raw_data')) do
  %h3='Hearings'
  %pre
    = JSON.pretty_generate(hearing&.attributes)
  %h3='Hearing events'
  %pre
    = JSON.pretty_generate(hearing&.hearing_events&.map(&:attributes))
