%dl{ class: 'govuk-summary-list govuk-!-margin-bottom-9' }
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Hearing type
    %dd.govuk-summary-list__value
      Plea and Trial Preparation (PTP)
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Court
    %dd.govuk-summary-list__value
      Derby Crown Court
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Time listed
    %dd.govuk-summary-list__value
      10:30
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      Duration
    %dd.govuk-summary-list__value
      Half day
