%table{ class: 'govuk-table govuk-!-margin-bottom-9' }
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{ scope: 'col' } Time
      %th.govuk-table__header{ scope: 'col' } Event

  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell 10:42
      %td.govuk-table__cell Case Called On
    %tr.govuk-table__row
      %td.govuk-table__cell 10:43
      %td.govuk-table__cell Defendant ANTHONY BARNES identified
    %tr.govuk-table__row
      %td.govuk-table__cell 10:43
      %td.govuk-table__cell
        Prosecution Addresses Judge
        %br
        Applies to amend indictment - cts of indecent assault
    %tr.govuk-table__row
      %td.govuk-table__cell 10:43
      %td.govuk-table__cell
        Judge Addresses Advocate
        %br
        Granted
    %tr.govuk-table__row
      %td.govuk-table__cell 10:48
      %td.govuk-table__cell
        Freetext
        %br
        Arr - all NG
    %tr.govuk-table__row
      %td.govuk-table__cell 10:48
      %td.govuk-table__cell Trial Time Estimate: 5 Day(s)
    %tr.govuk-table__row
      %td.govuk-table__cell 10:48
      %td.govuk-table__cell
        Directions: Stage 1: 03/08/2017
        %br
        Stage 2: 14/09/2017
        %br
        Stage 3: 19/10/2017
        %br
        Stage 4: NON REQ
    %tr.govuk-table__row
      %td.govuk-table__cell 10:48
      %td.govuk-table__cell Defendant ANTHONY BARNES; Case to be listed for trial on 03-Apr-2018;
    %tr.govuk-table__row
      %td.govuk-table__cell 10:49
      %td.govuk-table__cell
        Special Measures Application:
        %br
        Order for Screens Granted
        %br
        \---
        %br
        SANDRA MURPHY
    %tr.govuk-table__row
      %td.govuk-table__cell 10:52
      %td.govuk-table__cell
        ANTHONY BARNES; Bail as before
        %br
        Prepped by Andrew
        %br
        checked by gail
    %tr.govuk-table__row
      %td.govuk-table__cell 10:52
      %td.govuk-table__cell
        Judge Addresses Advocate
        %br
        Judicial warning
    %tr.govuk-table__row
      %td.govuk-table__cell 10:53
      %td.govuk-table__cell Hearing finished for ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 14:55
      %td.govuk-table__cell
        Add Indictment
        %br
        Indictment 1 added to case T20177931
    %tr.govuk-table__row
      %td.govuk-table__cell 14:55
      %td.govuk-table__cell
        Add Count
        %br
        Count 1 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 14:56
      %td.govuk-table__cell
        Add Count
        %br
        Count 2 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 14:57
      %td.govuk-table__cell
        Add Count
        %br
        Count 3 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 14:58
      %td.govuk-table__cell
        Add Count
        %br
        Count 4 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 14:59
      %td.govuk-table__cell
        Add Count
        %br
        Count 5 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 15:00
      %td.govuk-table__cell
        Add Count
        %br
        Count 6 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 15:01
      %td.govuk-table__cell
        Add Count
        %br
        Count 7 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 15:01
      %td.govuk-table__cell
        Add Count
        %br
        Count 8 added to indictment 1
    %tr.govuk-table__row
      %td.govuk-table__cell 15:02
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 1 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:02
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 2 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:02
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 3 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:02
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 4 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:03
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 5 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:03
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 6 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:03
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 7 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:03
      %td.govuk-table__cell
        Defendant added to count
        %br
        Count 8 on indictment 1 added to defendant ANTHONY BARNES
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell
        Sign Indictment
        %br
        Indictment 1 signed on 22-Jun-2017, signed within 28 days
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 1 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 2 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 3 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 4 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 5 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 6 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 7 on indictment 1. Arraigned on 22-Jun-2017
    %tr.govuk-table__row
      %td.govuk-table__cell 15:04
      %td.govuk-table__cell Plea Not guilty by ANTHONY BARNES on count 8 on indictment 1. Arraigned on 22-Jun-2017
