@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
@import "~govuk-frontend/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import "core/typography";

@import "components/cookie_banner";
@import "components/forms";
@import "components/sortable_table";
@import "components/summary";
