= govuk_page_title(t('error.connection_error_title'))

%p.govuk-body= t('error.connection_error_message_1')
%p.govuk-body= t('error.connection_error_message_2')
%p.govuk-body= t('error.description_html')
