= govuk_page_title(t('.title'))

= form_with url: repull_batches_path do |f|
  .govuk-grid-row
    .govuk-grid-column-full
      = f.govuk_text_area :maat_ids,
                          label: { text: t('.label') },
                          hint: { text: t('.hint') },
                          rows: 5,
                          max_chars: 500

  .govuk-grid-row
    .govuk-grid-column-full
      = f.govuk_submit(t('.submit'))
