= govuk_page_heading(t('devise.sessions.user.form.page_title'))

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = button_to user_entra_omniauth_authorize_path, class: 'govuk-button govuk-button--start' do
      = t('devise.sessions.user.form.submit')
      %svg.govuk-button__start-icon{"aria-hidden" => "true", :focusable => "false", :height => "19", :viewbox => "0 0 33 40", :width => "17.5", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M0 0h13l20 20-20 20H0l20-20z", :fill => "currentColor"}
