= render partial: 'results_header', locals: { term: term, dob: dob }

- if results.empty?
  = render 'results/none'
- elsif @results.first.is_a? CourtDataAdaptor::Resource::ProsecutionCase
  = render 'results/prosecution_case'
- else
  = render 'results/defendant'
