.vcd-capitalize-first-letter::first-letter {
  text-transform: uppercase;
}

// Display for js only
body:not(.js-enabled) .app-js-only {
  display: none;
}

// Display for no-js only
.js-enabled .app-no-js-only {
  display: none;
}

.app-no-wrap {
  white-space: nowrap;
}

.appeal_title_spacing {
  display: block;
  margin-bottom: 0.5rem;
}

@media (min-width: 40.0625em) {
  /* Manage users */
  nav.govuk-service-navigation__wrapper {
    flex-grow: 1;
    li.pull-right {
      margin-left: auto;
      font-size: 1rem;
    }
  }
}
