.govuk-notification-banner--failure {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;

  .govuk-notification-banner__link {
    @include govuk-link-style-error;
  }
}

.govuk-notification-banner__heading {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  word-break: break-word;
}

.govuk-notification-banner__icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
}

