.govuk-notification-banner--failure {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;

  .govuk-notification-banner__link {
    @include govuk-link-style-error;
  }
}

.govuk-notification-banner__heading {
  white-space: nowrap;
}
