.lcdui-notice-summary {
  .govuk-error-summary {
    border-color: $govuk-brand-colour;
  }

  .govuk-error-message {
    color: $govuk-brand-colour;
  }
}

.warning-text {
  color: $govuk-error-colour;
}
