- results.each do |prosecution_case|
  - prosecution_case = decorate(prosecution_case)
  - if prosecution_case.cracked?
    %table.govuk-table
      %caption.govuk-table__caption.govuk-visually-hidden
        = t('prosecution_case.show.cracked_ineffective_trial.caption')
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'row' }
            = t('prosecution_case.show.cracked_ineffective_trial.heading')
          %td.govuk-table__cell
            - prosecution_case.hearings.each do |hearing|
              - if hearing.cracked_ineffective_trial.cracked?
                / TODO: just sending objects to decorator method as params object?!
                - hearing_link = link_to hearing.hearing_days.first.to_date.strftime('%d/%m/%Y'), hearing_path(id: hearing.id, urn: prosecution_case.prosecution_case_reference)
                = hearing.cracked_ineffective_trial.type_sentence(hearing_link)
                %br
                = hearing.cracked_ineffective_trial.description
