= govuk_page_title(prosecution_case.prosecution_case_reference, t('generic.case'))

.govuk-grid-row
  .govuk-grid-column-full
    = render partial: 'prosecution_cases/cd_api/overall_defendants', locals: { case_summary: prosecution_case }

    = render partial: 'prosecution_cases/cd_api/hearing_summaries', locals: { case_summary: prosecution_case }

    - if Rails.configuration.x.display_raw_responses
      = render partial: 'prosecution_cases/cd_api/raw_response',
               locals: { case_summary: prosecution_case }
