@function frontend-font-url($filename){
@return url("~govuk-frontend/dist/govuk/assets/fonts/" + $filename);
}

@function frontend-image-url($filename){
@return url("~govuk-frontend/dist/govuk/assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

$moj-images-path: "@ministryofjustice/frontend/moj/assets/images/";
$moj-fonts-path: "@ministryofjustice/frontend/moj/assets/fonts/";

@import "~govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import "core/typography";

@import "components/forms";
@import "components/custom_styles";
@import "components/hearing_events";
@import "components/notification_banner";
@import "components/sortable_table";
@import "components/summary";
@import "components/phase_banner";
@import "components/last_sign_in";
