- application ||= nil
- if !application || application.appeal? || application.breach? || application.poca?

  = render "shared/alert" do
    .moj-alert__content
      What do you think of the new related court applications (appeals, breaches and POCA) pages?
      %br
      %a.govuk-link{ href: "https://www.smartsurvey.co.uk/s/appeals-to-crown-court/", target: "_blank", rel: "noreferrer noopener" }
        Give feedback (opens in new tab).
