- application ||= nil
- if !application || application.appeal?
  .govuk-notification-banner{ role: "region", aria: { labelledby: "govuk-notification-banner-title" }, data: { module: "govuk-notification-banner" } }
    .govuk-notification-banner__content
      %p
        What do you think of the new related court applications (appeals, breaches and POCA) pages?
      %p
        %a.govuk-notification-banner__link{ href: "https://www.smartsurvey.co.uk/s/appeals-to-crown-court/", target: "_blank", rel: "noreferrer noopener" }
          Give feedback (opens in new tab).
