- flash.each do |key, value|
  - case key
    - when 'alert'
      .govuk-error-summary
        .govuk-error-summary__title
          = value
        / .govuk-error-summary__body
        .govuk-error-message

    - when 'notice'
      .lcdui-notice-summary
        .govuk-error-summary
          .govuk-error-summary__title
            = value
          / .govuk-error-summary__body
          .govuk-error-message

    - when 'success'
      .govuk-notification-banner.govuk-notification-banner--success{ "role": "alert", "aria-labelledby": "govuk-notification-banner-title", "data-module": "govuk-notification-banner" }
        .govuk-notification-banner__header
          %h2#govuk-notification-banner-title.govuk-notification-banner__title
            = key.capitalize
        .govuk-notification-banner__content
          %p.govuk-notification-banner__heading
            = value.html_safe

