- flash.each do |key, value|
  - case key
    - when 'alert'
      .govuk-error-summary
        .govuk-error-summary__title
          = value
        / .govuk-error-summary__body
        .govuk-error-message

    - when 'notice'
      .lcdui-notice-summary
        .govuk-error-summary
          .govuk-error-summary__title
            = value
          / .govuk-error-summary__body
          .govuk-error-message

    - when 'success'
      = govuk_notification_banner(value.html_safe, key.capitalize)
