- if analytics_cookies_accepted
  :javascript
    let googleTrackingID = "#{ENV.fetch('GA_TRACKING_ID', nil)}"

    const analyticsScriptTag = document.createElement('script')
    analyticsScriptTag.async = ''
    analyticsScriptTag.src = `https://www.googletagmanager.com/gtag/js?id=${googleTrackingID}`
    document.head.appendChild(analyticsScriptTag)

    window.dataLayer = window.dataLayer || []

    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', `${googleTrackingID}`, {
      anonymize_ip: true,
      site_speed_sample_rate: 100
    })
