%a.govuk-header__link.govuk-header__link--homepage{ href: "https://www.gov.uk" }
  %svg.govuk-header__logotype-crown{ focusable: "false", height: "30", "aria-hidden": "true", viewbox: "0 0 132 97", width: "36", xmlns: "http://www.w3.org/2000/svg" }
    %path{ d: t('layouts.application.header.navigation.svg_logo'), fill: "currentColor", "fill-rule" => "evenodd" }
