%a.govuk-header__link.govuk-header__link--homepage{ href: "https://www.gov.uk" }
  %svg.govuk-header__logotype{ focusable: "false", height: "30", "aria-hidden": "true", viewbox: "0 0 148 30", width: "148", xmlns: "http://www.w3.org/2000/svg" }
    %title
      GOV.UK
    %path{ d: t('layouts.application.header.navigation.svg_logo') }
