%button.govuk-header__menu-button.govuk-js-header-toggle{"aria-controls" => "navigation", "aria-label" => "Show or hide Top Level Navigation", type: "button"} Menu
%nav
  %ul#navigation.govuk-header__navigation{"aria-label" => "Top Level Navigation"}
    %li.govuk-header__navigation-item.govuk-header__navigation-item--active
      %a.govuk-header__link{href: "#1"}
        Navigation item 1
    %li.govuk-header__navigation-item
      %a.govuk-header__link{href: "#2"}
        Navigation item 2
    %li.govuk-header__navigation-item
      %a.govuk-header__link{href: "#3"}
        Navigation item 3
