%button.govuk-header__menu-button.govuk-js-header-toggle{"aria-controls" => "navigation", "aria-label" => t('layouts.application.header.navigation.show_hide'), type: "button"}
  = t('layouts.application.header.navigation.menu')
%nav
  %ul#navigation.govuk-header__navigation{"aria-label" => t('layouts.application.header.navigation.top_navigation')}
    %li.govuk-header__navigation-item.govuk-header__navigation-item--active
      %a.govuk-header__link{href: "#1"}
        = t('layouts.application.header.navigation.item_1')
    %li.govuk-header__navigation-item
      %a.govuk-header__link{href: "#2"}
        = t('layouts.application.header.navigation.item_2')
    %li.govuk-header__navigation-item
      %a.govuk-header__link{href: "#3"}
        = t('layouts.application.header.navigation.item_3')
