.govuk-phase-banner
  %p.govuk-phase-banner__content
    %strong.govuk-tag.govuk-phase-banner__content__tag
      = t('generic.alpha')
    %span.govuk-phase-banner__text
      = t('layouts.application.header.phase_banner_html', feedback: new_feedback_path)


